@charset "utf-8";

/* line 4is ok but its not related to any tag or class - you have the body tag in line 5 but not the required attributes from line 4 */
* { margin: 0; padding: 0; border: 0; font-size: 100%; }
body {background-image: url("images/background.jpg")}

h1 {
	font-family: 'Roboto', sans-serif;
	
}


.myheader{
	background-color:#D5FCFF;
	background-image:url("images/header.jpg");
	width: 900px;
	height: 264px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
.topnav {
  background-color: #00C9FF;
  overflow: hidden;
}
.topnav a {
  float: right;
  color: #000148;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #030358;
  color: white;
}

.mycontent{
	background-color:#BFCCCC;
	width: 878px;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 12px;
	padding-right: 12px;
	
}

.blue-boy {
	
	float: left;
	padding-right: 12px;
}
